* {
    font-family: "Courier New", Courier, monospace;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

#back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f3d113;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    z-index: 100;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#new-game-button {
    font-size: 16px;
    background-color: #0c9417;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    z-index: 100;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.game-container {
  width: 500px;
  margin: 30px auto;
  background: #bbada0;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.grid {
  width: 100%;
  height: 500px;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 25%;
  height: 100px;
  background: #cdc1b4;
  margin: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #776e65;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease; 
}

.grid-cell:hover {
  background-color: #dcd0c3; 
}

.score-container {
  margin: 20px 0;
}

footer {
    position: relative;
    background-color: #fff;
    height: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}