* {
    font-family: "Courier New", Courier, monospace;
}

body {
    height: 100vh;  
    margin: 0;     
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    background-color: lightblue;  
}

header {
    background-color: #fff;
    padding: 20px 10%; 
    box-sizing: border-box;
    width: 100%; 
    text-align: center; 
    top: 0;
    left: 0;
    position: relative;
}

main {
    width: 100%; 
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

h1 {
    color: rgb(2, 2, 61);
    font-size: 50px;
    font-weight: bold;
}

.game-prompt, .button-container {
    text-align: center;
    margin: 20px 0; 
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button {
    width: 200px; 
    height: 200px; 
    cursor: pointer; 
    background-color: rgba(8, 77, 100, 0.357); 
    border: none;
    margin: 10px;
}

button:hover {
    background-color: rgb(5, 19, 69);
}

button img {
    width: 90%; 
    height: 90%;
    object-fit: cover;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%; 
    background-color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

@media (max-width: 768px) {
    button {
        width: 150px;  
        height: 150px; 
    }
}

@media (max-width: 480px) {
    button {
        width: 120px;
        height: 120px;
    }
}
